 .u-section-1 {
  background-image: url("images/adminportalinterface.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 239px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 4.375em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 51px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 4.375em;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 115px 496px 0 471px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -24px 471px 60px 619px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 396px;
    margin-left: 371px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 371px;
    margin-left: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 286px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 261px;
    margin-left: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 196px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 171px;
    margin-left: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 96px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 71px;
    margin-left: 219px;
  }
}